<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

</head>
<body>
  <h1>My Bootleg Store!</h1>

  <form method="post" action="/checkout">
    <label for="name"> Product Name:</label><br>
    <input type="text" id="item" name="item">
    <input type="submit" id="submit" value="Submit">
</form>
